.input-unit{
    margin-left: -15px;
}

.font-weight-bold{
    font-weight: bold;
}

.subtitle{
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 0rem;
    text-decoration: underline;
}

hr{
    opacity: 100;
}