.body{
    font-family: 'Figtree', sans-serif;;
}


.input-unit{
    margin-left: -15px;
}

.font-weight-bold{
    font-weight: bold;
}

.subtitle{
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 0rem;
}

hr{
    opacity: 100;
    margin: 0rem;
}

small{
    font-size: 20px;
}

body{
    font-size: .875rem;
}

.admin-text{
    font-size: 15px;
    vertical-align: middle;
}

.feather {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
    text-align: center;;
}


/*
 * Sidebar
 */

 .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 70px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    min-width: 150px;
  }

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #ffffff;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #bbbbbb;
  }
  
  .sidebar .nav-link.active {
    color: #bbbbbb;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }

/*
 * Main
 */

.ml-sm-auto, .mx-sm-auto{
    min-width: 330px;
    margin-left: auto!important;
}

 [role="main"] {
    padding-top: 15px; /* Space for fixed navbar */
}
  
@media (min-width: 550px) {
    [role="main"] {
        padding-top: 1px; /* Space for fixed navbar */
    }
}

/*
* Navbar
*/
.bg-green{
    background-color: rgba(0, 35, 25, 0.835);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar-brand-text{
    padding-left: .5rem;
    font-size: xx-large;
    font-weight: 750;
    vertical-align: middle;
}

.navbar-brand {
    padding-left: .75rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1rem;
    min-width: 150px;
    background-color: rgba(0, 78, 25, 0.295);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar-brand-title {
    padding-left: .75rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: larger;
    font-weight: 750;
    vertical-align: middle;
    min-width: 150px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
* Full background color
*/
html {
    min-height: 100%
}

.full-bg{
    background-color: #ffffff;
    /* background-image: linear-gradient(180deg,#dddddd,#39bb6f); */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
 * Series Album Card
 */
.card{
    --blur: 16px;
    background-color: grey;
}

.card-footer {
    padding: 0 1.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    display: grid;
    gap: 0.5ch;
    background: hsla(0, 0%, 40%, 0.5);
    backdrop-filter: blur(var(--blur));
    height: 15%;
    align-content: center;
}

.card-img{
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    transform: scale(1);
}

h1{
    font-weight :bolder;
    /* font-family: "Figtree", sans-serif; */
}

.card-title{
    font-size :xx-large;
    font-weight :bolder;
    text-align: center;
    /* font-family: "Figtree", sans-serif; */
    
    width: 100%;
    margin-bottom: -0.25rem;
    text-decoration-color: #000000;
}

.card-title-panel{
    padding-top: -10px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
}

/* 
* Figure
*/
figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
}
figure > * {
    grid-area: 1/1;
    transition: .3s;
}

figure:hover img {
    transform: scale(1.15);
}


/* 
* Unit Selection
*/
.model-sheet{
    width: 43%;
}

.form-sheet{
    width:53%;
}

.input-sheet{
    width:81.132075%;
}

.form-spacer-sheet{
    width:6.8966%;
}

.button-sheet{
    --bs-btn-padding-y: 0rem;
    width:30%;
}

/* 
* Calculation
*/
.indent{
    width: 12px;
}


.container{
    margin-left:1rem;
}

.label-text{
    /* font-family: "Figtree", sans-serif; */
    font-weight:850;
}

.submain-text{
    padding-bottom: 0.25rem;
    font-weight: 700;
    border-bottom: 4px solid rgb(10, 121, 34);
    max-width: 1360px;
}

.submain-text-full{
    padding-bottom: 0.25rem;
    font-weight: 700;
    border-bottom: 4px solid rgb(10, 121, 34);
}

.sheet{
    width: 80%;
}

.spacer{
    width: 4%;
}

.spacer-end{
    width: 25%
}

.result-sheet{
    width: 90%;
}

.button-add{
    width: 20%;
}

/* 
* Cart
*/
.cart-table-text{
    font-weight: 640;
    text-align: center;
}

input[type="checkbox"]:checked {
    outline: none;
}

input[type="checkbox"]:checked > td {
    background-color: rgb(114, 114, 114); /* Change the background color to your desired highlight color */
}

/* 
* History
*/
.status-col{
    width: 15%
}

.step-links{
    display: flex;
    justify-content: left;
}

.active-page-link{
    text-decoration-color: black;
    border-bottom: 3px solid rgb(0, 0, 0);
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: var(--bs-pagination-color);
    text-decoration: none;
    background-color: var(--bs-pagination-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page-link:hover, .active-page-link:hover{
    background-color: rgba(190, 190, 190, 0.185);
    text-shadow: black;
}

.page-nolink:hover{
    cursor: default;
}

a{
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

/* 
* CIDC/ CIRC
*/
.subcontainer{
    max-width: 1320px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.image-container {
    display: flex;
    align-items: flex-start;
    height: 100%;
}

.header-img{
    width : 100%;
    transform: scale(1);
}

.header-img, .side-header-img{
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    overflow: hidden;
}

.app3{
    max-width: 29%;
}

.app4{
    max-width: 21.5%;
}

.download-img{
    margin-top: 0.5rem;
    width: 100%
}

.download-button{
    text-align: center;
    color: white;
    background-color: teal;
}

.test2{
    font-size: xx-large;
    font-weight: 750;
}

.test3{
    font-size: medium;
    font-weight: 425;
}

.reveal{
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active{
    transform: translateX(0);
    opacity: 1;
}