{% extends "selecting/index.html" %}

{% block calculation %}
    <h2 class="mt-5">Result</h1>
    <div class="row">
        <div class="col">
            <table class="table small">
                <tbody>
                    <tr>
                        <th scope="row">Total Capacity</th>
                        <td>{{ total_cap }}kW</td>
                    </tr>
       
                    <tr>
                        <th scope="row">Sensible Capacity</th>
                        <td>{{ sens_cap }}kW</td>
                    </tr>

                    <tr>
                        <th scope="row">Net Capacity</th>
                        <td>{{ net_cap }}kW</td>
                    </tr>

                    <tr>
                        <th scope="row">Net Sensible Cap.</th>
                        <td>{{ net_sen_cap }}kW</td>
                    </tr>
                </tbody>

                <tbody>
                    <tr>
                        <th class="h4" scope="row">Compressor</th>
                        <td></td>
                    </tr>

                    <tr>
                        <th scope="row">Model</th>
                        <td>{{ comp_model }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Power</th>
                        <td>{{ comp_power }}kW</td>
                    </tr>

                    <tr>
                        <th scope="row">Current</th>
                        <td>{{ comp_current }}A</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table small">
                <tbody>
                    <tr>
                        <th scope="row">Outlet Temperature</th>
                        <td>{{ outlet_temp }}°C</td>
                    </tr>

                    <tr>
                        <th scope="row">Outlet RH</th>
                        <td>{{ outlet_rh }}%</td>
                    </tr>

                    <tr>
                        <th scope="row">Evaporating Temperature</th>
                        <td>{{ evap_temp }}°C</td>
                    </tr>

                    <tr>
                        <th scope="row">Condensing Temperature</th>
                        <td>{{ cond_temp }}°C</td>
                    </tr>
                </tbody>

                <tbody>
                    <tr>
                        <th class="h4" scope="row">Fan</th>
                        <td></td>
                    </tr>

                    <tr>
                        <th scope="row">Model</th>
                        <td> {{ fan_model }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Fan RPM</th>
                        <td>{{ fan_rpm }}rpm</td>
                    </tr>

                    <tr>
                        <th scope="row">Total Static Pressure</th>
                        <td>{{ tsp }}Pa</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock %}