{% block body %}
    <h1 class="fs-1 submain-text-full">Cart</h1>
    <div class="container-fluid py-3 cart-table-text">
        <div class="row">
            <div class="spacer"></div>
            <button type="button" class="col btn btn-secondary" onclick="generateReports(false)" method = "post">Generate Sel. Report</button>
            <div class="spacer"></div>
            <button type="button" class="col btn btn-secondary" onclick="generateReports(true)" method = "post">Generate All Reports</button>
            <div class="spacer"></div>
            <button type="button" class="col btn btn-secondary" onclick="deleteCartItems(false)" method = "post">Delete Selected</button>
            <div class="spacer"></div>
            <button type="button" class="col btn btn-secondary" onclick="deleteCartItems(true)" method = "post">Delete All</button>
            <div class="spacer-end"></div>
        </div>

        <div class="row flex-xl-nowarp mt-4">
            <div class="spacer"></div>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th class="col"></th>
                        <th class="col-2">Model</th>
                        <th class="col">Grs. Total Cap.</th>
                        <th class="col">Grs. Sen. Cap.</th>
                        <th class="col">Net Cap.</th>
                        <th class="col">Net Sen. Cap.</th>
                        <th class="col">Airflow</th>
                        <th class="col">Inlet Temp.</th>
                        <th class="col">Inlet RH</th>
                        <th class="col">Outlet Temp.</th>
                        <th class="col">Outlet RH</th>
                        <th class="col">Filter</th>
                        <th class="col-2">Date|Time</th>
                    </tr>
                </thead>

                <tbody>
                    {% for key, item in cart.items %}
                        <tr class="table-row">
                            <td><input type="checkbox" data-calc="{{ key }}"/></td>
                            <td>{{ item.model }}</td>
                            <td>{{ item.total_cap }}</td>
                            <td>{{ item.sen_cap }}</td>
                            <td>{{ item.net_total_cap }}</td>
                            <td>{{ item.net_sen_cap }}</td>
                            <td>{{ item.airflow }}</td>
                            <td>{{ item.inlet_temp }}</td>
                            <td>{{ item.inlet_rh }}</td>
                            <td>{{ item.outlet_temp}}</td>
                            <td>{{ item.outlet_rh }}</td>
                            <td>{{ item.filter }}</td>
                            <td>{{ item.datetime }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
    </div>
  {% endblock %}