{% extends "selecting/index.html" %}

{% block body %}
    <script>

        function showComponents(unit) {
            fetch(`showcomponents/${unit}`)
            .then(response => response.json())
            .then(data => {
                // console.log(data);

                selectionUpdate(data.compressor, 'comp');
                selectionUpdate(data.fan, 'fan');
                selectionUpdate(data.condenser, 'cond');
            });
        }

        function selectionUpdate(data, name){
            const selection = document.getElementById(name);
            while (selection.options.length > 0){
                selection.remove(0);
            }
            Object.keys(data).forEach(function(key) {
                selection.add(new Option(data[key], key));
            });
        }

        // import Cookies from 'js-cookies';
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies.toString().replace(/^([\s]*)|([\s]*)$/g, '');
                    // var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        
        function calculateSelection(form){
            let unit = document.getElementById('unit').value;
            let compressor = document.getElementById('comp').value;
            let fan = document.getElementById('fan').value;
            let condenser = document.getElementById('cond').value;
            let data = new FormData(form);
            data.append('unit', unit)
            data.append('comp', compressor)
            data.append('fan', fan)
            data.append('cond', condenser)

            //data.append('csrfmiddlewaretoken', $('#csrf-helper input[name="csrfmiddlewaretoken"]').attr('value'));
            let calculating_tag = document.getElementById("calculating_tag");
            calculating_tag.style.display = "";
            let headers = new Headers();
            const csrftoken = getCookie('csrftoken')
            headers.append('X-CSRFToken', csrftoken);
            fetch(`calculatecapacity`, {
                method: "POST",
                body: data,
                headers: {headers},
            })
            .then(response => response.json())
            .then(result => {
                let calculation = document.getElementById('calculation');
                calculation.style.display = "";
                console.log(result);

                let result_table_cap = document.getElementById('result_table_cap');
                let result_table_fan = document.getElementById('result_table_fan');
                let result_table_comp = document.getElementById('result_table_comp');
                let result_table_outlet = document.getElementById('result_table_outlet');
                let table1 = "";
                let table2 = "";

                if(result.converged){
                    let temp_table = null;
                    for(let key in result){
                        // if(key != "converged"){
                        //     table1 += "<tr>";
                        //     table1 += "<th>" + key + "</th>";
                        //     table1 += "<td>" + result[key][0] + " " + result[key][1] + "</td>";
                        //     table1 += "</tr>";
                        // }
                        console.log(key);
                        if(key == "converged")  {continue;}
                        if(key == "capacity")   {temp_table = result_table_cap;}
                        if(key == "fan")        {temp_table = result_table_fan;}
                        if(key == "compressor") {temp_table = result_table_comp;}
                        if(key == "air")        {temp_table = result_table_outlet;}

                        for(let subkey in result[key]){
                                table1 += "<tr>";
                                table1 += "<th class='col-sm-7'>" + subkey + "</th>";
                                table1 += "<td class='col-sm-5'>" + result[key][subkey][0] + " " + result[key][subkey][1] + "</td>";
                                table1 += "</tr>";
                        }

                        if(temp_table != null){
                            temp_table.innerHTML = table1;
                        }
                        table1 = "";
                    }
                }
                else{
                    table1 = "<tr><th>Failed to converge, please change the inlet conditions.</th></tr>"
                }
                calculating_tag.style.display = "none";
                console.log(result.converged);

            });
        }


        document.addEventListener('DOMContentLoaded', function() {
            // Add button functionality
            let selection = document.getElementById('unit');
            selection.onchange = function() {
                const unit = this.options[this.selectedIndex].dataset.unit
                history.pushState({unit: unit}, "", `newselection`);
                showComponents(this.options[this.selectedIndex].dataset.unit);
            }
            showComponents(selection.options[selection.selectedIndex].dataset.unit);

            // Hide the Calculation onload
            let calculation = document.getElementById('calculation');
            let calculating_tag = document.getElementById("calculating_tag");
            calculation.style.display = "none";
            calculating_tag.style.display = "none";

        });


    </script>

    <div class="m-3">
        <div class="container">
            <h1>Selection</h1>
            <div class="row flex-xl-nowarp">
                <div class="col-md-4">
                    <!-- Unit Selection -->
                    <div class="row">
                        <label class ="col-sm-4 col-form-label">Unit Model</label>
                        <div class="col-sm-6">
                            <select id="unit" name="unit" class="form-select form-select-sm">
                                {% for unit in units %}
                                    <option data-unit="{{ unit.id }}" value ="{{ unit.id }}">{{ unit }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                    <!-- Compressor Selection -->
                    <div id="comp_selection" class="row">
                        <label class ="col-sm-4 col-form-label">Compressor</label>
                        <div class="col-sm-6">
                            <select id="comp" name="comp" class="form-select form-select-sm">
                                {% for comp in comps %}
                                    <option data-unit="{{ comp.id }}">{{ comp }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                    <!-- Fan Selection -->
                    <div id="fan_selection" class="row">
                        <label class ="col-sm-4 col-form-label">Fan</label>
                        <div class="col-sm-6">
                            <select id="fan" name="fan" class="form-select form-select-sm">
                                {% for fan in fans %}
                                    <option data-unit="{{ fan.id }}">{{ fan }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                    <!-- Condenser Selection -->
                    <div id="cond_selection" class="row">
                        <label class ="col-sm-4 col-form-label">Condenser</label>
                        <div class="col-sm-6">
                            <select id="cond" name="cond" class="form-select form-select-sm">
                                {% for cond in conds %}
                                    <option data-unit="{{ cond.id }}">{{ cond }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                </div>

                <div class="col-md-5">
                    <!-- Inlet Conditions -->
                    <form id="inlet_condition" method = "post">{% csrf_token %}
                        <!-- <div class="row">
                            <label class="font-weight-bold col-form-label">Inlet Conditions</label>
                        </div> -->
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Inlet Temperature</label>
                                    <div class="col-sm-4">
                                        <input type="number" id="temp" name="temp" class="form-control form-control-sm text-right" placeholder="24" max="40" min="15">
                                    </div>
                                    <label class="col-sm-2 col-form-label input-unit">(&#176;C)</label>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Inlet RH</label>
                                    <div class="col-sm-4">
                                        <input type="number" id="rh" name="rh" class="form-control form-control-sm text-right" placeholder="45" max="90" min="10">
                                    </div>
                                    <label class="col-sm-2 col-form-label input-unit">%</label>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Airflow Rate</label>
                                    <div class="col-sm-4">
                                        <input type="number" id="airflow" name="airflow" class="form-control form-control-sm text-right" placeholder="6630" max="8000" min="4000">
                                    </div>
                                    <label class="col-sm-2 col-form-label input-unit">m<sup>3</sup>/hr</label>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">ESP</label>
                                    <div class="col-sm-4">
                                        <input type="number" id="esp" name="esp" class="form-control form-control-sm text-right" placeholder="50" max="300" min="10">
                                    </div>
                                    <label class="col-sm-2 col-form-label input-unit">Pa</label>
                                </div>
                            </div>
                            
                            <button type="button" class="btn btn-primary col-sm-2" onclick="calculateSelection(this.form)">Calc.</button>
                        </div>
                    </form>

                </div>
            </div>
            <br>


            <div id="calculation">
                <h1>Result <small id="calculating_tag" class="font-italic">calculating...</small></h1>
                <!-- First row of tables -->

                <div class="row flex-xl-nowarp">
                    <div class="col-md-4">
                        <p class="subtitle px-1">Capacity</p>
                        <hr>
                        <table class="table">
                            <tbody id="result_table_cap">

                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-4">
                        <p class="subtitle px-1">Fan</p>
                        <hr>
                        <table class="table">
                            <tbody id="result_table_fan">

                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Second row of tables -->
                <div class="row flex-xl-nowarp">
                    <div class="col-md-4">
                        <p class="subtitle px-1">Compressor</p>
                        <hr>
                        <table class="table">
                            <tbody id="result_table_comp">

                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-4">
                        <p class="subtitle px-1">Air Properties</p>
                        <hr>
                        <table class="table">
                            <tbody id="result_table_outlet">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
         

    {% block calculation %}
    {% endblock %}

    
  {% endblock %}