<br>
<div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
            <button class="card mb-4 box-shadow" type="button" onclick="calculateSelection(ES)"">
                <img class="card-img-top" src="{% static 'selecting/image/es.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-title">ES</p>
                    <p class="card-text"></p>
                </div>
            </button>
        </div>      
    </div>
</div>