{% load static %}

<!DOCTYPE html>
<hmtl lang="en">
    <head>
        <title>Capacity</title>
        <link href="{% static 'testing/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <h3> Inlet Temperature : {{ temperature }}</h3>
        <h3> Inlet Relative Hum. : {{ rh }}</h3>  
        <h3> Airflow : {{ airflow }}</h3> 
        <h2>Total Capacity {{ capacity }} kW</h2>
        {% if capacity > 20 %}
            <h2> Pass Capacity </h2>
        {% else %}
            <h2> Failed Capacity </h2>
        {% endif %}
    </body>
</hmtl>